/node_modules
/public/hot
/public/storage
/public/fonts
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
composer.lock
.idea
/public/themes
/public/html/node_modules
/storage/debugbar
/storage/logs
public/9d704763cea5c0bb3c73.worker.js
public/pdfjs-dist.js
public/sample.pdf
public/vendors~pdfjs-dist.js
public/vendors~pdfjsWorker.js
themes/base/9d704763cea5c0bb3c73.worker.js
themes/base/pdfjs-dist.js
themes/base/vendors~pdfjs-dist.js
themes/base/vendors~pdfjsWorker.js
yarn.lock
